.header {
  height: 64px;
  padding-right: 24px;
  justify-content: space-between;
}

.header img {
  display: inline-block;
  padding-left: 24px;
}

.header span {
  display: inline;
  justify-content: space-between;
}
.header h1{
  font-size: 32px;
  text-align: left;
}
