html {
  display: flex;
}
.row {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.header p {
  display: inline-flex;
  font-size: 32px;
  text-align: left;
  align-items: center;
}

.header img {
  padding-left: 24px;
  margin: auto 0;
}
.header ul li {
  display: inline-flex;
  padding-right: 24px;
  text-align: right;
}

.one {
  background-color: lightgrey;
  display: inline-flex;
  vertical-align: middle;
}
.banner  img {
  width: 60%;
  padding: 32px 24px;
}

.bannerb {
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
}

.bannerb button {
  background-color: grey
  display: block;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.information img {
  width: 60%;
  padding: 32px 24px;
}

.orientation {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test img,  .proov img, .testt img{
  width: 35%;
  height: auto;
  padding: 16px;
  margin: 0 auto;
}
.test .proov .testt {
  width: 40%;
}

.test {
  display: inline-flex;
}

.proov {
  display: inline-flex;
}

.testt {
  display: inline-flex;
  background-color: lightgrey;
}

.three {
  display: flex;
  padding: 64px 72px 32px 72px;
  background-color: lightgrey;
}

.three img {
  height: auto;
  width: 100%;
}

.three h1 {
  text-align: center;
  padding-top: 32px;
}
.small {
  background-color: white;
  margin: 32px 32px;
  text-align: left;
}
.small h3, .small p{
  padding: 16px 24px;
}

.thesis h1 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.four video {
  width: 60%;
  padding: 32px 24px 24px;
}
.fisma {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.unos img, .dos img {
  width: 35%;
  height: auto;
  padding: 16px;
}
.unos{
  display: inline-flex;
}

.dos {
  display: inline-flex;
  background-color: lightgrey;
}


.six {
  display: flex;
  padding: 16px 24px;
}

.six ul li {
  display: inline-flex;
  justify-content: space-around;
  padding-right: 24px;
  margin: auto 0;
  text-align: right;
}
